<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle *ngIf="!showSearchBar">
      <ion-icon name="menu"></ion-icon>
    </button>

  </ion-navbar>
</ion-header>
<ion-content>

  <ion-scroll scrollX="true" style="width:100%; height: 200px">
    <div class="inner">
      <ion-card *ngFor="let icon of mClientContactList">
        <img src='{{icon.image}}'>
      </ion-card>
    </div>
  </ion-scroll>

  <ion-scroll scrollY="true" style="width:100%; height: 100%">
    <div class="outer">
      <ion-item no-lines *ngFor="let item of mMainProductBlocks">
        <h2>{{item.name}}</h2>
        <ion-slides slidesPerView="2" spaceBetween="10" *ngIf="(item.type == 'product') ||(item.type == 'general') ">
          <ion-slide *ngFor="let subitem of item.data, let i = subitem" (click)="getItemValue(subitem)">
            <img src='{{subitem.image}}'>
            <h4> {{subitem.title}} </h4>
          </ion-slide>
        </ion-slides>

        <div no-padding class="center_block" *ngIf="(item.type == 'banner')">
          <ion-item  no-lines *ngFor="let subitem of item.data, let i = subitem" (click)="getItemValue(subitem)"  >
            <img src='{{subitem.mobile_image}}'>
          </ion-item>
        </div>

        <div no-padding class="center_block" *ngIf="(item.type == 'advertisement')">
          <ion-item no-lines *ngFor="let subitem of item.data, let i = subitem" (click)="getItemValue(subitem)">
            <img src='{{subitem.image}}'>
          </ion-item>
        </div>

        <ion-slides slidesPerView="3" spaceBetween="5" *ngIf="(item.type == 'brand') ">
          <ion-slide *ngFor="let subitem of item.data, let i = subitem" (click)="getItemValue(subitem)">
            <img src='{{subitem.image}}'>
          </ion-slide>
        </ion-slides>
      </ion-item>



    </div>

  </ion-scroll>

</ion-content>
